@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout_PC.cshtml";
}

<style type="text/css">
</style>

<!-- 页面头部  -->
<div class="header">
    @{Html.RenderAction("Top", "AdminManage", new { section = "3" });}
</div>

<!-- 页面主题内容  -->
<div class="wrap-content">
    <div class="side-left">
        @{Html.RenderAction("Aside", "AdminManage", new { menu_id = "4_1" });}
    </div>
    <div class="container side-content">
        <div class="row-fluid">
            <div id="content" class="animated fadeInRight">              
                <div class="row-fluid">
                    <div class="span12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>投诉</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="span1"><i class="icon-th-list"></i></th>
                                            <th class="span2">标题</th>
                                            <th class="span5">内容</th>
                                            <th class="span2">日期</th>
                                            <th class="span2"><i class="icon-cog"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: list" id="itemContainer">
                                        <tr>
                                            <td data-bind="text: $index() + 1"></td>
                                            <td data-bind="text: title"></td>
                                            <td data-bind="text: content"></td>
                                            <td data-bind="text: createTime"></td>
                                            <td class="text-center">
                                                <a data-toggle="modal" data-bind="click: $parent.openModal">回复</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="holder"></div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">投诉回复</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">投诉标题：</label>
            <div class="controls">
                <span data-bind="text: complainInfo().title"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">投诉内容：</label>
            <div class="controls">
                <span data-bind="text: complainInfo().content"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">投诉日期：</label>
            <div class="controls">
                <span data-bind="text: complainInfo().date"></span>
            </div>
        </div>
        <hr />
        <div class="control-group">
            <label class="control-label">回复：</label>
            <div class="controls">
                <textarea data-bind="value: ''"></textarea>
            </div>
        </div>
        <hr />
    </div>
    <div class="modal-footer">
        <button class="btn span3" data-dismiss="modal" aria-hidden="true">关闭</button>
        <input value="保存" type="submit" class="btn pink span3" data-bind="click: replay" />
    </div>
</div>
<script>
    var list = REQ_URL + 'complaint/queryList';

    var viewModel = {
        list: ko.observableArray([]),
        complainInfo: ko.observable({
            title: '',
            content: '',
            date: ''
        })
    };

    viewModel.openModal = function () {
        var complainInfo = viewModel.complainInfo();
        console.log('model this === ', this);
        complainInfo = {
            title: this.title,
            content: this.content,
            date: this.createTime
        };
        viewModel.complainInfo(complainInfo);
        $('#myModal').modal('show');
    }

    viewModel.replay = function () {
        
    }

    viewModel.load = function () {
        var param = {};
        Comget(list, param, function (data) {     
            var list = strToJson(data.backData);
            list.map(function (item, index) {
                item.createTime = dateFormate(item.createTime, '-');
            });
            console.log('list === ', list);
            viewModel.list(list);

            $("div.holder").jPages({
                containerID: "itemContainer",
                previous: "←上一页",
                next: "下一页→",
                perPage: 10,
                delay: 100
            });
        });
    };

    ko.applyBindings(viewModel, $('#content')[0]);

    viewModel.load();
</script>
